
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.btn-nolink .btn-nolink:hover, .btn-nolink:visited, .btn-nolink:link, .btn-nolink:active
{
  color: #fff;
  text-decoration: none;
}
